<main class="main h-100" role="main">
  <div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="col-sm-10 col-md-8 col-lg-6 mx-auto my-4">

        <div class="text-center">
          <h1 class="h3">Reporta al malechor de tu barrio</h1>
          <p class="lead">
            Ayuda a tu comunidad, no tengas miedo.
          </p>
        </div>

        <div class="card">
          <div class="card-body">
            <div class="m-sm-4">
              <div class="text-center">
                <img src="https://www.policia.gov.co/sites/default/files/escudoconfilete_0.png" alt="Jane Roe" class="img-fluid rounded-circle" width="132" height="132">
              </div>
              <form>
                <div class="form-group">
                  <label>Correo electrónico / Nombre de usuario</label>
                  <input class="form-control form-control-lg" type="email" name="email">
                </div>
                <div class="form-group">
                  <label>Contraseña</label>
                  <input class="form-control form-control-lg" type="password" name="password">
                  <small>
                    <a href="#">¿Olvidaste tu contraseña?</a>
                  </small>
                </div>
                <div>
                  <div class="custom-control custom-checkbox align-items-center">
                    <input type="checkbox" class="custom-control-input" value="remember-me" name="remember-me" checked="">
                    <label class="custom-control-label text-small">Recordarme</label>
                  </div>
                </div>
                <div class="text-center mt-3">
                  <a href="pages-dashboard.html" class="btn btn-lg btn-primary">Ingresar a la plataforma</a>
                  <!-- <button type="submit" class="btn btn-lg btn-primary">Sign in</button> -->
                </div>
              </form>
            </div>
          </div>
        </div><!-- /.card -->
      </div>
    </div><!-- /.row -->
  </div>
</main>