<div class="container">
  <br>
  <h3>Listado de personas sospechosas</h3>
  <div class="card mb-3">
    <div class="card-body">
      <div class="media">
        <div class="text-center">
          <img class="mr-3 rounded-circle" src="https://robust.bootlab.io/img/avatars/3.jpg" alt="Lucy" width="80"
            height="80">
          <h6 class="mt-1 mb-0 mr-3">Lucy</h6>
        </div>
        <div class="media-body">
          <p class="mt-3 mb-2">Se robó un iphone 6 en el barrio los corales</p>
          <time class="timeago text-muted" datetime="2017-12-03 20:00" data-tid="2">10 months ago</time>
          <a class="float-right" href="#"><span class="far fa-comment"></span> Reply</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <div class="media">
        <div class="text-center">
          <img class="mr-3 rounded-circle" src="https://robust.bootlab.io/img/avatars/3.jpg" alt="Lucy" width="80"
            height="80">
          <h6 class="mt-1 mb-0 mr-3">Lucy</h6>
        </div>
        <div class="media-body">
          <p class="mt-3 mb-2">Se robó un iphone 6 en el barrio los corales</p>
          <time class="timeago text-muted" datetime="2017-12-03 20:00" data-tid="2">10 months ago</time>
          <a class="float-right" href="#"><span class="far fa-comment"></span> Reply</a>
        </div>
      </div>
    </div>
  </div>
</div>