<main class="main" role="main">
  <div class="py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-3">
            <div class="card-body text-center">
              <img [src]="people?.images[0]?.url" style="height: 96px; width: 96px"
                class="img-fluid rounded-circle mb-2">
              <h4 class="card-title mb-0">{{people?.name}}</h4>
              <div class="text-muted mb-2">
                <p>Persona sospechosa</p>
              </div>

            </div>
            <hr class="my-0">
            <div class="card-body">
              <h5 class="h6 card-title">Acusaciones</h5>
              <div *ngFor="let des of people?.description" class="text-muted mb-2">
                <p>{{des}}</p>
              </div>
            </div>

          </div><!-- /.card -->
        </div><!-- /.col-md-4 -->

        <div class="col-md-8">

          <div class="card">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs pull-right" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="photos-tab" data-toggle="tab" href="#photos" aria-controls="photos"
                    aria-selected="true" role="tab">Fotos relacionadas a {{people?.name}}</a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div class="tab-content">
                <div class="tab-pane fade show active" id="photos" role="tabpanel" aria-labelledby="photos-tab">

                  <div class="row no-gutters m--1">
                    <!-- <div class="col-4">
                      <div class="mx-1 my-2">
                        <img src="https://res.cloudinary.com/batty/image/upload/v1538527473/persons/alan001.jpg" class="img-fluid medium-zoom-image"
                          alt="" data-action="zoom" style="height: 220px; width: 220px;">
                      </div>
                    </div> -->
                    <div class="row">
                      <div *ngFor="let img of people?.images" class="col-md-4">
                          <img [src]="img?.url" class="img-fluid medium-zoom-image"
                          alt="" data-action="zoom" style="height: 220px; width: 220px;">
                      </div>
                    </div>
                  </div>

                </div><!-- /.tab-pange -->
                <div class="tab-pane fade" id="projects" role="tabpanel" aria-labelledby="projects-tab">...</div>
                <div class="tab-pane fade" id="activity" role="tabpanel" aria-labelledby="activity-tab">...</div>
              </div>
            </div>
          </div>
        </div><!-- /.col-md-8 -->
      </div><!-- /.row -->
    </div>
  </div>
</main>